.body1 {
    background-image: url('../assets/Home.png');
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    backdrop-filter: blur(2px);
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
}
.signup {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.main{
    position: relative;
    overflow: hidden;
}
.mainbody{
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.loginpage{
    background-image: url('../assets/Home.png');

}