.body1 {
    background-image: url('../assets/Home.png');
    font-family: sans-serif;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    backdrop-filter: blur(2px);
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
}
.signup{
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
.main{
    /* position: relative; */
    overflow: hidden;
}
.mainbody{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login{
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.particle-container {
  position: relative;
  width: 100%;
  height: 100vh; 
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px; 
}

