@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');




  /* app.css */
#myVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Ensures the video covers the container */
    z-index: -1; /* Ensures the video is behind other content */
  }
  
  /* Ensure body1 takes full height of the viewport */
  .body1 {
    position: relative;
    height: 100vh;
  }
  

.topic{
    font-size: 35px;
}

body{
    height: 100%;
    width: 100%;
}
.container{
    backdrop-filter: blur(2px);
    max-width: 500px;
    width: 100%;
    padding: 0 20px;
}
.signup{
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}
.main{
    /* position: relative; */
    overflow: hidden;
}
.mainbody{
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.login{
    backdrop-filter: blur(2px);
    width: 100%;
    padding: 0 20px;
    justify-content: center;
    align-items: center;
}

.particle-container {
  position: relative;
  width: 100%;
  height: 100vh;
  font-family: "Tektur", sans-serif;

}

.content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* font-family: "Tektur", sans-serif; */
  /* font-optical-sizing: auto; */
  /* font-style: normal; */
  /* font-variation-settings: */
    /* "wdth" 100; */
  /* font-size: 24px;  */
}


.navii{
    font-family: "Tektur", sans-serif;
    font-size: 40px;
    color: #F8F4EC;
}
p{
    padding-left: 40px;
    padding-right: 40px;
    font-family: serif;
    font-size: 18px;
}

.content-box {
    width: 100%; /* Set this to a fixed width, e.g., 800px or any value you prefer */
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex: 0 0 auto;
  }
  